In [1]:
import numpy as np 
import pandas as pd 

Mydata = pd.read_csv('../DataOut/bus_trip_all_points.csv')
AyyasData=pd.read_csv('../DataOut/processed_data/bus_running_times_feature_added_all.csv')
Aayyas_dwelltime_df=pd.read_csv('../DataOut/processed_data/bus_stop_times_feature_added_all.csv')

In [2]:
# number of uniqque trip ids in my data
print(len(Mydata.trip_id.unique()))

15891

In [3]:
# get my data trip id == 4890
Mydata[Mydata['trip_id']==6542.0]

,id,deviceid,devicetime,latitude,longitude,speed,date,time,geometry,bus_stop,trip_id,direction
1289511,560231777,274,2021-10-01 06:58:03,7.298953,80.734112,11.87910,2021-10-01,06:58:03,POINT (195626.5749087095 232968.86523213168),BT02,6542.0,2
1289512,560335052,274,2021-10-01 07:51:36,7.291723,80.635137,4.85961,2021-10-01,07:51:36,POINT (184698.15187659665 232171.46420291165),BT01,6542.0,2

In [4]:
# # Convert the date column to datetime if it's not already in datetime format
# AyyasData['date'] = pd.to_datetime(AyyasData['date'])

# # Now you can filter based on both deviceid and date
# filtered_data = AyyasData[(AyyasData['deviceid'] == 274) & (AyyasData['date'] == pd.to_datetime('2021-10-01'))]
# filtered_data

In [5]:
# drop raws where only trip_id is null
AyyasData.dropna(subset=['trip_id'], inplace=True)

In [6]:
# show all the columns in pandas dataframes
pd.set_option('display.max_columns', None)

In [7]:
AyyasData.head()

,trip_id,deviceid,direction,segment,date,start_time,end_time,run_time,run_time_in_seconds,length,day_of_week,time_of_day,Sunday/holiday,saturday,weekday/end,week_no,rt(w-1),rt(w-2),rt(w-3),rt(t-1),rt(t-2),rt(n-1),rt(n-2),rt(n-3),hour_of_day,day,month,temp,precip,windspeed,conditions,dt(n-1)
0,1.0,262.0,1.0,1.0,2021-10-01,06:39:49,06:40:58,0 days 00:01:09,69.0,0.6261,4.0,6.50,0.0,0,1,1.0,96.0,96.0,96.0,96.0,96.0,96.0,96.0,96.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
1,1.0,262.0,1.0,2.0,2021-10-01,06:42:12,06:45:42,0 days 00:03:30,210.0,1.2808,4.0,6.50,0.0,0,1,1.0,247.0,247.0,247.0,247.0,247.0,69.0,247.0,247.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,74.0
2,1.0,262.0,1.0,3.0,2021-10-01,06:45:42,06:53:58,0 days 00:08:16,496.0,2.1125,4.0,6.75,0.0,0,1,1.0,506.0,506.0,506.0,506.0,506.0,210.0,69.0,506.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
3,1.0,262.0,1.0,4.0,2021-10-01,06:54:04,06:57:19,0 days 00:03:15,195.0,1.5513,4.0,6.75,0.0,0,1,1.0,192.0,192.0,192.0,192.0,192.0,496.0,210.0,69.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,6.0
4,1.0,262.0,1.0,5.0,2021-10-01,06:57:19,06:58:56,0 days 00:01:37,97.0,0.8450,4.0,6.75,0.0,0,1,1.0,114.0,114.0,114.0,114.0,114.0,195.0,496.0,210.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0

In [8]:
# AyyasDataonly keep 'trip_id', 'deviceid', 'direction', 'date', 'start_time', 'end_time' columns
AyyasData_forComp = AyyasData[['trip_id', 'deviceid',  'date', 'start_time', 'end_time']]
# Convert 'start_time' and 'end_time' columns to datetime format ( start tieme and end time only have time in hh:mm:ss format)
# AyyasData_forComp['start_time'] = pd.to_datetime(AyyasData_forComp['start_time'], format='%H:%M:%S').dt.time
# AyyasData_forComp['end_time'] = pd.to_datetime(AyyasData_forComp['end_time'], format='%H:%M:%S').dt.time

# Convert 'start_time' and 'end_time' columns to datetime
AyyasData_forComp['start_time'] = pd.to_datetime(AyyasData_forComp['date'] + ' ' + AyyasData_forComp['start_time'])
AyyasData_forComp['end_time'] = pd.to_datetime(AyyasData_forComp['date'] + ' ' + AyyasData_forComp['end_time'])
# convert 'date' column to datetime format
AyyasData_forComp['date'] = pd.to_datetime(AyyasData_forComp['date'], format='%Y-%m-%d').dt.date

C:\Users\gw\AppData\Local\Temp\ipykernel_8312\1607620677.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AyyasData_forComp['start_time'] = pd.to_datetime(AyyasData_forComp['date'] + ' ' + AyyasData_forComp['start_time'])
C:\Users\gw\AppData\Local\Temp\ipykernel_8312\1607620677.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AyyasData_forComp['end_time'] = pd.to_datetime(AyyasData_forComp['date'] + ' ' + AyyasData_forComp['end_time'])
C:\Users\gw\AppData\Local\Temp\ipykernel_8312\1607620677.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AyyasData_forComp['date'] = pd.to_datetime(AyyasData_forComp['date'], format='%Y-%m-%d').dt.date

In [9]:
# get a list of all columns in the dataframe
colls=list(AyyasData_forComp.columns)
print(colls)

['trip_id', 'deviceid', 'date', 'start_time', 'end_time']

In [10]:
# # group AyyasData_forComp by trip id, and pick any available value to each column , also create new two column of trip start time and trip end time, trip start time will be the earliest time of each trip on start_time column and the trip end time will be the last time value on end_time column in each trip id
# # these are the column names in the dataset ['trip_id', 'deviceid', 'date', 'start_time', 'end_time']
# AyyasData_forComp=AyyasData_forComp.groupby(['trip_id']).agg({'deviceid':'first','date':'first','start_time':'min','end_time':'max'}).reset_index()

In [11]:


# Group by 'trip_id' and aggregate
AyyasData_forComp = AyyasData_forComp.groupby(['trip_id']).agg(
    deviceid=pd.NamedAgg(column='deviceid', aggfunc='first'),
    date=pd.NamedAgg(column='date', aggfunc='first'),
    start_time=pd.NamedAgg(column='start_time', aggfunc='min'),
    end_time=pd.NamedAgg(column='end_time', aggfunc='max')
).reset_index()

# Resulting DataFrame
print(AyyasData_forComp)

       trip_id  deviceid        date          start_time            end_time
0          1.0     262.0  2021-10-01 2021-10-01 06:39:49 2021-10-01 07:27:32
1          3.0     274.0  2021-10-01 2021-10-01 06:58:03 2021-10-01 07:51:21
2          4.0     123.0  2021-10-01 2021-10-01 07:37:40 2021-10-01 08:15:44
3          8.0     274.0  2021-10-01 2021-10-01 08:40:27 2021-10-01 09:34:49
4          9.0     262.0  2021-10-01 2021-10-01 08:40:37 2021-10-01 09:33:22
...        ...       ...         ...                 ...                 ...
14123  25366.0    1358.0  2022-11-01 2022-11-01 17:00:34 2022-11-01 17:46:45
14124  25367.0    1377.0  2022-11-01 2022-11-01 17:40:45 2022-11-01 18:33:10
14125  25368.0     284.0  2022-11-01 2022-11-01 17:51:04 2022-11-01 18:35:06
14126  25369.0     513.0  2022-11-01 2022-11-01 18:08:04 2022-11-01 18:52:05
14127  25370.0     121.0  2022-11-01 2022-11-01 18:20:26 2022-11-01 19:02:30

[14128 rows x 5 columns]

In [12]:
AyyasData[AyyasData['trip_id']==3  ]

,trip_id,deviceid,direction,segment,date,start_time,end_time,run_time,run_time_in_seconds,length,day_of_week,time_of_day,Sunday/holiday,saturday,weekday/end,week_no,rt(w-1),rt(w-2),rt(w-3),rt(t-1),rt(t-2),rt(n-1),rt(n-2),rt(n-3),hour_of_day,day,month,temp,precip,windspeed,conditions,dt(n-1)
74040,3.0,274.0,2.0,21.0,2021-10-01,06:58:03,07:03:16,0 days 00:05:13,313.0,1.9418,4.0,6.75,0.0,0,1,1.0,354.0,354.0,354.0,354.0,354.0,354.0,354.0,354.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
74041,3.0,274.0,2.0,22.0,2021-10-01,07:04:00,07:06:03,0 days 00:02:03,123.0,0.9166,4.0,7.00,0.0,0,1,1.0,116.0,116.0,116.0,116.0,116.0,313.0,116.0,116.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,44.0
74042,3.0,274.0,2.0,23.0,2021-10-01,07:08:34,07:12:28,0 days 00:03:54,234.0,1.1479,4.0,7.00,0.0,0,1,1.0,175.0,175.0,175.0,175.0,175.0,123.0,313.0,175.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,151.0
74043,3.0,274.0,2.0,24.0,2021-10-01,07:13:41,07:17:16,0 days 00:03:35,215.0,1.3115,4.0,7.00,0.0,0,1,1.0,171.0,171.0,171.0,171.0,171.0,234.0,123.0,313.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,73.0
74044,3.0,274.0,2.0,25.0,2021-10-01,07:17:16,07:20:37,0 days 00:03:21,201.0,1.2594,4.0,7.25,0.0,0,1,1.0,222.0,222.0,222.0,222.0,222.0,215.0,234.0,123.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,0.0
74045,3.0,274.0,2.0,26.0,2021-10-01,07:21:59,07:24:39,0 days 00:02:40,160.0,1.0360,4.0,7.25,0.0,0,1,1.0,130.0,130.0,130.0,130.0,130.0,201.0,215.0,234.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,82.0
74046,3.0,274.0,2.0,27.0,2021-10-01,07:26:00,07:26:55,0 days 00:00:55,55.0,0.3844,4.0,7.25,0.0,0,1,1.0,39.0,39.0,39.0,39.0,39.0,160.0,201.0,215.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,81.0
74047,3.0,274.0,2.0,28.0,2021-10-01,07:27:50,07:30:37,0 days 00:02:47,167.0,0.8673,4.0,7.25,0.0,0,1,1.0,117.0,117.0,117.0,117.0,117.0,55.0,160.0,201.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,55.0
74048,3.0,274.0,2.0,29.0,2021-10-01,07:31:06,07:34:35,0 days 00:03:29,209.0,1.3970,4.0,7.50,0.0,0,1,1.0,189.0,189.0,189.0,189.0,189.0,167.0,55.0,160.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,29.0
74049,3.0,274.0,2.0,30.0,2021-10-01,07:35:26,07:40:44,0 days 00:05:18,318.0,2.5612,4.0,7.50,0.0,0,1,1.0,382.0,382.0,382.0,382.0,382.0,209.0,167.0,55.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,51.0
74050,3.0,274.0,2.0,31.0,2021-10-01,07:41:04,07:41:54,0 days 00:00:50,50.0,0.4169,4.0,7.50,0.0,0,1,1.0,59.0,59.0,59.0,59.0,59.0,318.0,209.0,167.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,20.0
74051,3.0,274.0,2.0,32.0,2021-10-01,07:42:14,07:46:06,0 days 00:03:52,232.0,1.2960,4.0,7.50,0.0,0,1,1.0,233.0,233.0,233.0,233.0,233.0,50.0,318.0,209.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,20.0
74052,3.0,274.0,2.0,33.0,2021-10-01,07:46:13,07:50:10,0 days 00:03:57,237.0,1.2245,4.0,7.75,0.0,0,1,1.0,253.0,253.0,253.0,253.0,253.0,232.0,50.0,318.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,7.0
74053,3.0,274.0,2.0,34.0,2021-10-01,07:50:21,07:51:21,0 days 00:01:00,60.0,0.6617,4.0,7.75,0.0,0,1,1.0,100.0,100.0,100.0,100.0,100.0,237.0,232.0,50.0,7.0,1.0,10.0,20.7,0.0,6.8,Partially cloudy,11.0

In [13]:
AyyasData_forComp

       trip_id  deviceid        date          start_time            end_time
0          1.0     262.0  2021-10-01 2021-10-01 06:39:49 2021-10-01 07:27:32
1          3.0     274.0  2021-10-01 2021-10-01 06:58:03 2021-10-01 07:51:21
2          4.0     123.0  2021-10-01 2021-10-01 07:37:40 2021-10-01 08:15:44
3          8.0     274.0  2021-10-01 2021-10-01 08:40:27 2021-10-01 09:34:49
4          9.0     262.0  2021-10-01 2021-10-01 08:40:37 2021-10-01 09:33:22
...        ...       ...         ...                 ...                 ...
14123  25366.0    1358.0  2022-11-01 2022-11-01 17:00:34 2022-11-01 17:46:45
14124  25367.0    1377.0  2022-11-01 2022-11-01 17:40:45 2022-11-01 18:33:10
14125  25368.0     284.0  2022-11-01 2022-11-01 17:51:04 2022-11-01 18:35:06
14126  25369.0     513.0  2022-11-01 2022-11-01 18:08:04 2022-11-01 18:52:05
14127  25370.0     121.0  2022-11-01 2022-11-01 18:20:26 2022-11-01 19:02:30

[14128 rows x 5 columns]

In [14]:
# get a list of all columns in the dataframe
colls=list(Mydata.columns)
print(colls)

['id', 'deviceid', 'devicetime', 'latitude', 'longitude', 'speed', 'date', 'time', 'geometry', 'bus_stop', 'trip_id', 'direction']

In [15]:
Mydata.head()

,id,deviceid,devicetime,latitude,longitude,speed,date,time,geometry,bus_stop,trip_id,direction
0,574733098,116,2021-10-16 08:03:04,7.293092,80.635573,9.17927,2021-10-16,08:03:04,POINT (184746.41595346577 232322.75960448402),BT01,2.0,1
1,574733099,116,2021-10-16 08:03:19,7.293068,80.636430,14.03890,2021-10-16,08:03:19,POINT (184841.00784031872 232320.15459256113),NaN,2.0,1
2,574733100,116,2021-10-16 08:03:34,7.293043,80.637552,10.25920,2021-10-16,08:03:34,POINT (184964.84865244984 232317.35306792473),NaN,2.0,1
3,574733101,116,2021-10-16 08:03:49,7.292725,80.637707,7.55940,2021-10-16,08:03:49,POINT (184981.95255171193 232282.14959255166),NaN,2.0,1
4,574733102,116,2021-10-16 08:04:04,7.292292,80.637663,3.77970,2021-10-16,08:04:04,POINT (184977.15733984314 232234.22458233108),NaN,2.0,1

In [16]:
Mydata_forComp=Mydata[['trip_id', 'deviceid', 'date', 'time']]
# Convert 'start_time' and 'end_time' columns to datetime format ( start tieme and end time only have time in hh:mm:ss format)
Mydata_forComp['time'] = pd.to_datetime(Mydata['date'] + ' ' + Mydata['time'])
# convert 'date' column to datetime format
Mydata_forComp['date'] = pd.to_datetime(Mydata['date'], format='%Y-%m-%d').dt.date

C:\Users\gw\AppData\Local\Temp\ipykernel_8312\3053380414.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mydata_forComp['time'] = pd.to_datetime(Mydata['date'] + ' ' + Mydata['time'])
C:\Users\gw\AppData\Local\Temp\ipykernel_8312\3053380414.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mydata_forComp['date'] = pd.to_datetime(Mydata['date'], format='%Y-%m-%d').dt.date

In [17]:
# group Mydata by trip id and pick the middle value of every column , columns are ['trip_id', 'deviceid', 'date', 'time']

# Sort the data by 'trip_id' and 'time'
Mydata_forComp = Mydata_forComp.sort_values(by=['trip_id', 'time'])

# Calculate the number of rows in each 'trip_id' group
group_sizes = Mydata_forComp.groupby('trip_id').size().reset_index(name='group_size')

# Select the middle row from each 'trip_id' group
Mydata_forComp = Mydata_forComp.merge(group_sizes, on='trip_id')
Mydata_forComp['middle_row'] = Mydata_forComp['group_size'] // 2

# Select the middle values for each 'trip_id' group
Mydata_forComp = Mydata_forComp[Mydata_forComp.groupby('trip_id').cumcount() == Mydata_forComp['middle_row']]

# Cleanup: Drop the helper columns
Mydata_forComp.drop(columns=['group_size', 'middle_row'], inplace=True)

# Reset the index
Mydata_forComp.reset_index(drop=True, inplace=True)

# Resulting DataFrame with one middle time value for each 'trip_id' group
Mydata_forComp.head()

   trip_id  deviceid        date                time
0      1.0       116  2021-10-16 2021-10-16 07:30:35
1      2.0       116  2021-10-16 2021-10-16 08:28:27
2      3.0       116  2021-10-16 2021-10-16 11:17:34
3      4.0       116  2021-10-16 2021-10-16 12:50:07
4      5.0       116  2021-10-16 2021-10-16 14:40:02

In [19]:
# number of uniqque trip ids in my data
print(len(AyyasData_forComp.trip_id.unique()))

14128

In [20]:
AyyasData_forComp.head()

   trip_id  deviceid        date          start_time            end_time
0      1.0     262.0  2021-10-01 2021-10-01 06:39:49 2021-10-01 07:27:32
1      3.0     274.0  2021-10-01 2021-10-01 06:58:03 2021-10-01 07:51:21
2      4.0     123.0  2021-10-01 2021-10-01 07:37:40 2021-10-01 08:15:44
3      8.0     274.0  2021-10-01 2021-10-01 08:40:27 2021-10-01 09:34:49
4      9.0     262.0  2021-10-01 2021-10-01 08:40:37 2021-10-01 09:33:22

In [21]:
Mydata_forComp.head()

   trip_id  deviceid        date                time
0      1.0       116  2021-10-16 2021-10-16 07:30:35
1      2.0       116  2021-10-16 2021-10-16 08:28:27
2      3.0       116  2021-10-16 2021-10-16 11:17:34
3      4.0       116  2021-10-16 2021-10-16 12:50:07
4      5.0       116  2021-10-16 2021-10-16 14:40:02

In [22]:
# make AyyasData_forComp deviceid integer without the decimal point
AyyasData_forComp['deviceid'] = AyyasData_forComp['deviceid'].astype(int)

In [23]:
# Convert the date column to datetime if it's not already in datetime format
Mydata_forComp['date'] = pd.to_datetime(Mydata_forComp['date'])

# Now you can filter based on both deviceid and date
filtered_data = Mydata_forComp[(Mydata_forComp['deviceid'] == 274) & (Mydata_forComp['date'] == pd.to_datetime('2021-10-01'))]
filtered_data

      trip_id  deviceid       date                time
6539   6542.0       274 2021-10-01 2021-10-01 07:51:36
6540   6543.0       274 2021-10-01 2021-10-01 09:34:49
6541   6544.0       274 2021-10-01 2021-10-01 11:09:21
6542   6545.0       274 2021-10-01 2021-10-01 12:46:49
6543   6546.0       274 2021-10-01 2021-10-01 14:17:01
6544   6547.0       274 2021-10-01 2021-10-01 17:54:15

In [24]:
smaller_df, larger_df = AyyasData_forComp, Mydata_forComp

# Create a mapping dictionary based on common bus IDs, date, and time
mapping_dict = {}
i = 0
for index, row in smaller_df.iterrows():
    matching_rows = larger_df[
        (larger_df['deviceid'] == row['deviceid']) &
        (larger_df['time'] >= row['start_time']) &
        (larger_df['time'] <= row['end_time'])
    ]
    print (matching_rows, "-------------------------------")
    if len(matching_rows) >= 1:
        mapping_dict[row['trip_id']] = matching_rows.iloc[0]['trip_id']
    if i==2:
        break
    i += 1
# Update trip IDs in the smaller data frame using the mapping dictionary
smaller_df['trip_id'] = smaller_df['trip_id'].map(mapping_dict)

# Now, the trip IDs in the smaller data frame have been updated to match the larger data frame
print(smaller_df)

      trip_id  deviceid       date                time
4889   4890.0       262 2021-10-01 2021-10-01 07:06:47 -------------------------------
Empty DataFrame
Columns: [trip_id, deviceid, date, time]
Index: [] -------------------------------
      trip_id  deviceid       date                time
2368   2369.0       123 2021-10-01 2021-10-01 07:56:37 -------------------------------
       trip_id  deviceid        date          start_time            end_time
0       4890.0       262  2021-10-01 2021-10-01 06:39:49 2021-10-01 07:27:32
1          NaN       274  2021-10-01 2021-10-01 06:58:03 2021-10-01 07:51:21
2       2369.0       123  2021-10-01 2021-10-01 07:37:40 2021-10-01 08:15:44
3          NaN       274  2021-10-01 2021-10-01 08:40:27 2021-10-01 09:34:49
4          NaN       262  2021-10-01 2021-10-01 08:40:37 2021-10-01 09:33:22
...        ...       ...         ...                 ...                 ...
14123      NaN      1358  2022-11-01 2022-11-01 17:00:34 2022-11-01 17:46:45
14124      NaN      1377  2022-11-01 2022-11-01 17:40:45 2022-11-01 18:33:10
14125      NaN       284  2022-11-01 2022-11-01 17:51:04 2022-11-01 18:35:06
14126      NaN       513  2022-11-01 2022-11-01 18:08:04 2022-11-01 18:52:05
14127      NaN       121  2022-11-01 2022-11-01 18:20:26 2022-11-01 19:02:30

[14128 rows x 5 columns]

In [25]:
Aayyas_dwelltime_df

,trip_id,deviceid,direction,bus_stop,date,arrival_time,departure_time,dwell_time,dwell_time_in_seconds_old,day_of_week,time_of_day,Sunday/holiday,saturday,weekday/end,week_no,dt(w-1),dt(w-2),dt(w-3),dt(t-1),dt(t-2),dt(n-1),dt(n-2),dt(n-3),hour_of_day,day,month,temp,precip,windspeed,conditions,rt(n-1),stop_type,dwell_time_in_seconds
0,1,262,1,101,2021-10-01,06:40:58,06:42:12,0:01:14,74.0,4,6.50,0,0,1,1,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,6,1,10,20.0,0.0,6.1,Partially cloudy,69.0,pro,74.0
1,1,262,1,102,2021-10-01,06:45:42,06:45:42,0:00:00,0.0,4,6.75,0,0,1,1,45.0,45.0,45.0,45.0,45.0,74.0,45.0,45.0,6,1,10,20.0,0.0,6.1,Partially cloudy,210.0,mod,0.0
2,1,262,1,103,2021-10-01,06:53:58,06:54:04,0:00:06,6.0,4,6.75,0,0,1,1,28.0,28.0,28.0,28.0,28.0,0.0,74.0,28.0,6,1,10,20.0,0.0,6.1,Partially cloudy,496.0,mod,6.0
3,1,262,1,104,2021-10-01,06:57:19,06:57:19,0:00:00,0.0,4,6.75,0,0,1,1,1.0,1.0,1.0,1.0,1.0,6.0,0.0,74.0,6,1,10,20.0,0.0,6.1,Partially cloudy,195.0,br,0.0
4,1,262,1,105,2021-10-01,06:58:56,07:02:27,0:03:31,211.0,4,6.75,0,0,1,1,230.0,230.0,230.0,230.0,230.0,0.0,6.0,0.0,6,1,10,20.0,0.0,6.1,Partially cloudy,97.0,pro,211.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91678,25370,121,1,110,2022-11-01,18:47:38,18:47:53,0:00:15,15.0,1,18.75,0,0,1,42,18.0,15.0,18.0,18.0,15.0,34.0,0.0,10.0,18,1,11,20.5,0.0,8.3,Overcast,134.0,mod,15.0
91679,25370,121,1,111,2022-11-01,18:50:08,18:50:15,0:00:07,7.0,1,18.75,0,0,1,42,9.0,9.0,9.0,9.0,7.0,15.0,34.0,0.0,18,1,11,20.5,0.0,8.3,Overcast,135.0,br,7.0
91680,25370,121,1,112,2022-11-01,18:52:39,18:52:50,0:00:11,11.0,1,18.75,0,0,1,42,6.0,6.0,6.0,6.0,0.0,7.0,15.0,34.0,18,1,11,20.5,0.0,8.3,Overcast,144.0,br,11.0
91681,25370,121,1,113,2022-11-01,18:55:01,18:55:14,0:00:13,13.0,1,18.75,0,0,1,42,7.0,7.0,7.0,7.0,198.0,11.0,7.0,15.0,18,1,11,20.5,0.0,8.3,Overcast,131.0,mod,13.0
91682,25370,121,1,114,2022-11-01,18:56:55,18:57:10,0:00:15,15.0,1,18.75,0,0,1,42,15.0,15.0,15.0,15.0,15.0,13.0,11.0,7.0,18,1,11,20.5,0.0,8.3,Overcast,101.0,br,15.0

In [26]:
Aayyas_dwelltime_df['trip_id'] = Aayyas_dwelltime_df['trip_id'].map(mapping_dict)

In [27]:
Aayyas_dwelltime_df

,trip_id,deviceid,direction,bus_stop,date,arrival_time,departure_time,dwell_time,dwell_time_in_seconds_old,day_of_week,time_of_day,Sunday/holiday,saturday,weekday/end,week_no,dt(w-1),dt(w-2),dt(w-3),dt(t-1),dt(t-2),dt(n-1),dt(n-2),dt(n-3),hour_of_day,day,month,temp,precip,windspeed,conditions,rt(n-1),stop_type,dwell_time_in_seconds
0,4890.0,262,1,101,2021-10-01,06:40:58,06:42:12,0:01:14,74.0,4,6.50,0,0,1,1,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,6,1,10,20.0,0.0,6.1,Partially cloudy,69.0,pro,74.0
1,4890.0,262,1,102,2021-10-01,06:45:42,06:45:42,0:00:00,0.0,4,6.75,0,0,1,1,45.0,45.0,45.0,45.0,45.0,74.0,45.0,45.0,6,1,10,20.0,0.0,6.1,Partially cloudy,210.0,mod,0.0
2,4890.0,262,1,103,2021-10-01,06:53:58,06:54:04,0:00:06,6.0,4,6.75,0,0,1,1,28.0,28.0,28.0,28.0,28.0,0.0,74.0,28.0,6,1,10,20.0,0.0,6.1,Partially cloudy,496.0,mod,6.0
3,4890.0,262,1,104,2021-10-01,06:57:19,06:57:19,0:00:00,0.0,4,6.75,0,0,1,1,1.0,1.0,1.0,1.0,1.0,6.0,0.0,74.0,6,1,10,20.0,0.0,6.1,Partially cloudy,195.0,br,0.0
4,4890.0,262,1,105,2021-10-01,06:58:56,07:02:27,0:03:31,211.0,4,6.75,0,0,1,1,230.0,230.0,230.0,230.0,230.0,0.0,6.0,0.0,6,1,10,20.0,0.0,6.1,Partially cloudy,97.0,pro,211.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91678,NaN,121,1,110,2022-11-01,18:47:38,18:47:53,0:00:15,15.0,1,18.75,0,0,1,42,18.0,15.0,18.0,18.0,15.0,34.0,0.0,10.0,18,1,11,20.5,0.0,8.3,Overcast,134.0,mod,15.0
91679,NaN,121,1,111,2022-11-01,18:50:08,18:50:15,0:00:07,7.0,1,18.75,0,0,1,42,9.0,9.0,9.0,9.0,7.0,15.0,34.0,0.0,18,1,11,20.5,0.0,8.3,Overcast,135.0,br,7.0
91680,NaN,121,1,112,2022-11-01,18:52:39,18:52:50,0:00:11,11.0,1,18.75,0,0,1,42,6.0,6.0,6.0,6.0,0.0,7.0,15.0,34.0,18,1,11,20.5,0.0,8.3,Overcast,144.0,br,11.0
91681,NaN,121,1,113,2022-11-01,18:55:01,18:55:14,0:00:13,13.0,1,18.75,0,0,1,42,7.0,7.0,7.0,7.0,198.0,11.0,7.0,15.0,18,1,11,20.5,0.0,8.3,Overcast,131.0,mod,13.0
91682,NaN,121,1,114,2022-11-01,18:56:55,18:57:10,0:00:15,15.0,1,18.75,0,0,1,42,15.0,15.0,15.0,15.0,15.0,13.0,11.0,7.0,18,1,11,20.5,0.0,8.3,Overcast,101.0,br,15.0

In [28]:
# Count the number of unique key-value pairs in mapping_dict
unique_pairs = len({(key, value) for key, value in mapping_dict.items()})

print("Number of unique key-value pairs in mapping_dict:", unique_pairs)

Number of unique key-value pairs in mapping_dict: 2

In [ ]:
mapping_dict

In [ ]:
smaller_df

In [ ]:
# drop null rows Mydata
smaller_df.dropna(inplace=True)

In [ ]:
smaller_df

In [ ]:
# get the number of nan values in each column
Aayyas_dwelltime_df.isnull().sum()

In [ ]:
# get the number of nan values in each column
AyyasData.isnull().sum()

In [ ]:
AyyasData

In [ ]:
AyyasData['trip_id'] = AyyasData['trip_id'].map(mapping_dict)

In [ ]:
AyyasData

In [ ]:
# get the number of nan values in each column
AyyasData.isnull().sum()

In [ ]:
# drop raws where only trip_id is null
AyyasData.dropna(subset=['trip_id'], inplace=True)

Aayyas_dwelltime_df.dropna(subset=['trip_id'], inplace=True)

In [ ]:
Aayyas_dwelltime_df

In [ ]:
AyyasData

In [ ]:
# print number of unique trip_id in Mydata
print(Mydata['trip_id'].nunique())

In [ ]:
# get a list of values in mapping_dict dictionary
available_trip_ids=list(mapping_dict.values())

In [ ]:
available_trip_ids=list(set(available_trip_ids))

In [ ]:
len(available_trip_ids)

In [ ]:
# drop the rows in Mydata where trip_id is not in available_trip_ids
Mydata=Mydata[Mydata['trip_id'].isin(available_trip_ids)]

In [ ]:
Mydata

In [ ]:
# get my data trip id == 4890
AyyasData[AyyasData['trip_id']==2370]

In [ ]:
# save my data to csv file bus_trip_all_points_moddedDF.csv
Mydata.to_csv('../DataOut/bus_trip_all_points_moddedDF.csv', index=False)

# save AyyasData to csv file bus_running_times_feature_added_all_moddedDF.csv
AyyasData.to_csv('../DataOut/bus_running_times_feature_added_all_moddedDF.csv', index=False)

# save AyyasData to csv file bus_running_times_feature_added_all_moddedDF.csv
Aayyas_dwelltime_df.to_csv('../DataOut/bus_stop_times_feature_added_all_moddedDF.csv', index=False)